<section class="mx-auto mt-3 container">
    <h1 class="text-black px-10 font-sans font-extrabold text-3xl ">All Orders</h1>

    <!-- Table -->
    <div class="flex flex-col">

        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                <div class="overflow-hidden">
                    <table class="min-w-full text-center">
                        <thead class="border-b">
                            <tr>
                                <th scope="col" class="text-sm font-bold text-gray-900 px-4 py-4">
                                    <a>Customer</a>
                                </th>
                                <th scope="col" class="text-sm font-bold text-gray-900 px-4 py-4">
                                    User
                                </th>
                                <th scope="col" class="text-sm  font-bold text-gray-900 px-6 py-4">
                                    Address
                                </th>
                                <th scope="col" class="text-sm  font-bold text-gray-900 px-6 py-4">
                                    Status
                                </th>
                                <th scope="col" class="text-sm  font-bold text-gray-900 px-6 py-4">
                                    Placed_At
                                </th>
                                <th scope="col" class="text-sm  font-bold text-gray-900 px-6 py-4">
                                    Payment
                                </th>
                            </tr>
                        </thead >
                        <tbody id="orderTableBody">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>



    </div>
    <!-- table -->
</section>